<h1>This is the Index Page</h1>
<p>It has everything you need to get started</p>

<ul>
  <% @destinations.each do |destination| %>
      <li><%= destination.city %>, <%= destination.country %> </li>
  <% end %>
</ul>